/* 
  =============== Import Google Font ===============
*/
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* 
  =============== Navbar =============== 
*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

nav .logo {
  font-family: "Monoton", cursive;
}

nav .logo h1 {
  font-size: 1.8em;
  letter-spacing: 3px;
  font-weight: normal;
  color: white;
}

nav ul {
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px;
}

nav ul li a:hover {
  font-weight: bold;
  color: black;
  background-color: white;
}

/* 
  =============== Hamburger Menu =============== 
*/
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  transition: all 0.5s;
  background-color: white;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5;
  top: -5;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  display: 0;
}

/* 
  =============== Content =============== 
*/

.content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

/* 
  =============== Home =============== 
*/

.home {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-image {
  flex-basis: 100%;
}

.hero-image img {
  height: 625px;
  width: 100%;
  object-fit: cover;
}

.text-home {
  margin-top: 200px;
  display: flex;
  width: 100%;
  text-align: center;
  position: absolute;
}

.text-home h2 {
  width: 100%;
  font-size: 38px;
  font-weight: normal;
  font-family: "Great Vibes", cursive;
  color: white;
}

/*
  =============== Movies =============== 
*/

.movie {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
  margin-top: 0;
}

/* 
  =============== Movie Container =============== 
*/

.movie-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  padding: 30px;
}

.movie-container .box h3 {
  padding-top: 12px;
}

/* 
  =============== Popular ===============
*/

.popular,
.top-rated {
  width: 100%;
  height: 400px;
  text-align: center;
}

.popular h2,
.top-rated h2 {
  margin-top: 16px;
  padding: 0px 20px;
  font-family: "Philosopher", sans-serif;
}

/*
  =============== Box Card ===============
*/

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
  height: 280px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
}

.box img {
  height: 200px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 4px;
}

.box img:hover {
  transform: scale(0.8);
}

.box .icon-star img {
  width: 15px;
  height: 15px;
}

/* 
  =============== Information ===============
*/

.information {
  display: flex;
  flex-direction: column;
  height: 280px;
  background: #000000;
  color: white;
  padding: 20px 0px;
}

.information h2 {
  width: 100%;
  font-family: "Vesper Libre", serif;
  text-align: center;
  font-size: 2em;
}

.information p {
  text-align: justify;
  padding: 0px 10%;
  line-height: 1.6em;
  text-indent: 2em;
  font-size: 16px;
}

/* 
  =============== About =============== 
*/

.about {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.about h2 {
  width: 100%;
  margin-top: 16px;
  font-family: "Vesper Libre", serif;
  text-align: center;
  font-size: 2em;
}

.about-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  width: 20%;
  height: 380px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 30px;
  border-top: 3px solid black;
  text-align: center;
  transition: all 2s;
  border-radius: 8px;
}

.about-card img {
  margin: 0px auto;
  width: 80%;
  transition: 0.8s;
  border-radius: 4px;
}

.media-social {
  display: flex;
  justify-content: space-around;
}

.media-social a img {
  cursor: pointer;
  height: 30px;
}

.media-social img:hover {
  transform: scale(1.3) rotate(720deg);
}

/* 
  =============== Footer ===============
*/

.footer {
  display: flex;
  background-color: black;
  height: 80px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* 
  =============== Responsive Layout ===============
*/

@media screen and (min-width: 320px) and (max-width: 425px) {
  .content {
    margin-top: 0px;
  }

  .text-home {
    margin-top: 500px;
  }

  /* =============== Home Section =============== */
  nav {
    position: static;
    flex-direction: row-reverse;
  }

  nav ul {
    position: absolute;
    flex-direction: column;
    background-color: black;
    text-align: center;
    left: 0;
    top: 120px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 2;
    height: 30%;
    padding: 20px;
    transition: ease-in-out 1.5s;
    transform: translateX(-100%) translateY(-200%);
  }

  nav ul li {
    padding: 12px 0px;
    border: 1px solid white;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  nav .logo h1 {
    font-size: 0.5em;
  }

  .menu-toggle {
    display: flex;
  }

  .text-home {
    margin-top: 80px;
  }

  .text-home h2 {
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }

  /* =============== Movie Section =============== */

  .movie-container {
    flex-direction: column;
    height: 1500px;
    padding: 10px;
    align-items: center;
  }

  .popular,
  .top-rated {
    height: 2600px;
  }

  /* Box Card */
  .box {
    flex: 1;
    height: 400px;
    width: 60%;
    margin-bottom: 10px;
  }

  .box img {
    height: 130px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 4px;
  }

  .information {
    margin-top: 2300px;
    height: 800px;
  }

  /* 
  =============== About =============== 
*/
  .about-card {
    width: 80%;
  }

  .about-card img {
    width: 60%;
  }

  .footer {
    height: 80px;
    font-size: 0.8em;
    padding: 20px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .content {
    margin-top: 0px;
  }

  /* =============== Home Section =============== */
  nav {
    position: static;
    flex-direction: row-reverse;
  }

  nav ul {
    position: absolute;
    flex-direction: column;
    background-color: black;
    text-align: center;
    left: 0;
    top: 120px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 2;
    height: 30%;
    padding: 20px;
    transition: ease-in-out 1.5s;
    transform: translateX(-100%) translateY(-200%);
  }

  nav ul li {
    padding: 12px 0px;
    border: 1px solid white;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  nav .logo h1 {
    font-size: 0.5em;
  }

  .menu-toggle {
    display: flex;
  }

  .text-home {
    margin-top: 80px;
  }

  .text-home h2 {
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }

  /* =============== Movie Section =============== */

  .movie-container {
    flex-direction: column;
    height: 1500px;
    padding: 10px;
    align-items: center;
  }

  .popular,
  .top-rated {
    height: 2600px;
  }

  .box {
    flex: 1;
    height: 400px;
    width: 60%;
    margin-bottom: 10px;
  }

  .box img {
    height: 130px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 4px;
  }

  .information {
    margin-top: 2300px;
    height: 600px;
  }

  .about-card {
    width: 50%;
  }

  .about-card img {
    width: 50%;
  }

  .footer {
    height: 80px;
    font-size: 0.8em;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    position: static;
  }

  .content {
    margin-top: 0px;
  }

  nav ul {
    width: 50%;
  }

  nav .logo h1 {
    font-size: 1.2em;
  }

  nav ul li a {
    font-size: 0.8em;
  }

  .text-home {
    margin-top: 80px;
  }

  .text-home h2 {
    width: 100%;
    font-size: 26px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav .logo h1 {
    font-size: 1.2em;
  }

  nav ul {
    width: 50%;
  }

  nav ul li a {
    font-size: 0.6em;
  }

  .text-home h2 {
    font-size: 2em;
  }

  .movie {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .movie-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    padding: 30px;
  }

  .movie-container .box h3 {
    padding-top: 12px;
  }

  .popular,
  .top-rated {
    width: 100%;
    height: 300px;
    text-align: center;
  }

  .popular h2,
  .top-rated h2 {
    margin-top: 16px;
    padding: 0px 20px;
    font-family: "Philosopher", sans-serif;
  }

  .box {
    margin: 0px 8px;
    height: 200px;
    width: 100%;
  }

  .box h3 {
    font-size: 10px;
  }

  .box img {
    height: 100px;
  }

  .box p {
    font-size: 10px;
  }

  .box .icon-star img {
    width: 12px;
    height: 12px;
  }

  .information {
    height: 400px;
  }
}
